* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  color: var(--grayish-blue);
}
/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

:root {
  --primary-darkblue: hsl(233, 26%, 24%);
  --primary-limegreen: hsl(136, 65%, 51%);
  --primary-brightcyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-lightgray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
/* 
nav {
  border: solid green 1px;
} */

body {
  background-color: var(--very-lightgray);
  font-size: 18px;
  overflow-x: hidden;
  letter-spacing: -0.1px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-darkblue);
  font-weight: 300;
}

h1 {
  font-size: 3.5rem;
}

.container {
  padding-top: 125px;
  padding-bottom: 125px;
}

.heading {
  margin-bottom: 25px;
}

.cta-btn {
  width: 180px;
  padding: 10px;
  border: 0;
  border-radius: 25px;

  letter-spacing: 0.1px;
  background: rgb(51, 203, 101);
  background: linear-gradient(
    140deg,
    rgba(51, 203, 101, 1) 0%,
    rgba(43, 180, 208, 1) 100%
  );
}

/* NAVIGATION */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  background-color: var(--white);
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.main-nav-link:hover {
  color: var(--primary-darkblue);
  cursor: pointer;
  transition: 0.15s;
  transition-timing-function: ease-in-out;
}

/* HERO*/

.section-hero {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: 1000px -270px;
  background-repeat: no-repeat;
}

.hero-desc {
  margin-bottom: 30px;
}

.mockup {
  position: relative;
  left: 400px;
  bottom: 250px;
}

/* FEATURES */

.section-features {
  background-color: var(--light-grayish-blue);
}

.feature-list {
  display: flex;
  list-style-type: none;
}

.feature {
  margin-right: 25px;
}

.feature-desc {
  margin-bottom: 50px;
}

.feature-icon {
  padding: 50px 0px;
}

/* ARTICLES */
/* .card-group {
  gap: 20px;
  border-radius: 15px !important;
} */

.articles-heading {
  margin-bottom: 55px;
}

.article-card {
  height: 500px;
  box-shadow: rgba(90, 90, 90, 0.021) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.article-card img {
  height: 225px;
}

.card-body {
  padding: 25px;
  overflow: hidden;
}

.author {
  font-size: 0.8rem;
  margin: 15px 0px;
}

.article-title:hover {
  color: var(--primary-limegreen);
  cursor: pointer;
  transition: 0.15s;
  transition-timing-function: ease-in-out;
}

.article-desc {
  font-size: 1rem;
}

/* FOOTER*/

.section-footer {
  background-color: var(--primary-darkblue);
  letter-spacing: -1px;
}

.section-footer > .container {
  padding: 75px 0;
}

.footer-logo {
  fill: white;
}

.footer-nav,
.social-nav {
  list-style-type: none;
  display: flex;
}

.footer-nav {
  justify-content: flex-start;
  margin-left: 100px;
}

.footer-nav-link {
  color: var(--light-grayish-blue);
  font-size: 1rem;
  margin-bottom: 15px;
}

.social-cont {
  margin-top: 50px;
}

.social-nav {
  gap: 1rem;
  padding: 0px;
}

.footer-btn-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copyright {
  font-size: 0.9rem;
  margin-top: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
